*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#111827;
    font-family:sans-serif;
}

.app{
    max-width:430px;
    min-height:100vh;
    margin:auto;
    background:#1A1E23;
}

.header{
    height:60px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 20px;
    color:white;
    border-bottom:1px solid #2B3138;
}

.header h2{
    font-size:20px;
}

.menu-btn,
.bell-btn{
    background:none;
    border:none;
    color:white;
    font-size:24px;
    cursor:pointer;
}

.home{
    padding:20px;
    color:white;
}

.welcome h3{
    font-size:24px;
    margin-bottom:8px;
}

.welcome p{
    color:#A0A7B5;
    margin-bottom:30px;
}

.today-training h4{
    margin-bottom:15px;
    font-size:18px;
}

.training-card{
    background:#252A31;
    border-radius:16px;
    padding:20px;
    display:flex;
    align-items:center;
    gap:16px;
}

.icon{
    width:60px;
    height:60px;
    background:#45C26B;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:28px;
}

.training-info h3{
    margin-bottom:6px;
}

.training-info p{
    color:#A0A7B5;
}

.training-card{
    background:#252A31;
    border-radius:18px;
    padding:20px;
}

.card-header{
    display:flex;
    align-items:center;
}

.training-title{
    margin-left:15px;
}

.training-title h3{
    font-size:20px;
    margin-bottom:4px;
}

.training-title p{
    color:#A0A7B5;
    font-size:14px;
}

.arrow{
    margin-left:auto;
    font-size:28px;
    color:#A0A7B5;
}

.exercise-list{
    margin-top:18px;
}

.exercise-list p{
    margin:8px 0;
    color:#E5E7EB;
}

.progress-section{
    margin-top:30px;
}

.progress-card{
    background:#252A31;
    border-radius:18px;
    padding:20px;
}

.progress-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:white;
    margin-bottom:15px;
    font-size:16px;
}

.progress-bar{
    width:100%;
    height:12px;
    background:#3A4048;
    border-radius:10px;
    overflow:hidden;
}

.progress-fill{
    width:57%;
    height:100%;
    background:#45C26B;
    border-radius:10px;
}

.recent-section{
    margin-top:30px;
    margin-bottom:100px; /* 下のナビと被らないように */
}

.recent-card{
    background:#252A31;
    border-radius:18px;
    padding:20px;
}

.recent-date{
    display:flex;
    justify-content:space-between;
    color:#45C26B;
    font-weight:bold;
    margin-bottom:15px;
}

.recent-detail p{
    color:#E5E7EB;
    margin:8px 0;
    font-size:15px;
}

.bottom-nav{
    position:fixed;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    width:100%;
    max-width:430px;
    height:75px;
    background:#252A31;
    display:flex;
    justify-content:space-around;
    align-items:center;
    border-top:1px solid #343B44;
}

.nav-item{
    text-decoration:none;
    color:#A0A7B5;
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size:13px;
}

.nav-item span{
    font-size:22px;
    margin-bottom:4px;
}

.active{
    color:#45C26B;
}

.record-btn{
    width:60px;
    height:60px;
    background:#45C26B;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:-30px;
    color:white;
    font-size:34px;
    box-shadow:0 5px 15px rgba(69,194,107,.35);
}

.record-btn small{
    display:none;
}

.menu-page{
    
    padding:20px;
    color:white;
}

.menu-header{
    margin-bottom:30px;
}

.menu-header h2{
    font-size:26px;
    color: white;
}

.menu-card{
    background:#252A31;
    border-radius:18px;
    padding:18px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:18px;
}

.menu-left{
    display:flex;
    align-items:center;
    gap:16px;
}

.menu-icon{
    width:60px;
    height:60px;
    border-radius:50%;
    background:#45C26B;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:28px;
}

.menu-card h3{
    color:#E5E7EB;
    margin-bottom:6px;
}

.menu-card p{
    color:#E5E7EB;
    margin-bottom:4px;
}

.menu-card small{
    color:#A0A7B5;
}

.arrow{
    font-size:28px;
    color:#A0A7B5;
}

.back-btn,
.more-btn {
    background:none;
    border:none;
    color:white;
    font-size:24px;
    cursor:pointer;
    
}

.add-menu-btn{
    width:100%;
    height:55px;
    border:none;
    border-radius:16px;
    background:#45C26B;
    color:white;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    margin-bottom:100px;
    transition:0.2s;
}

.add-menu-btn:hover{
    opacity:0.9;
}

.menu-title{
    color:white;
    margin-bottom:25px;
}

.menu-title h2{
    font-size:28px;
    margin-bottom:6px;
}

.menu-title p{
    color:#A0A7B5;
}

.body-card{
    background:#252A31;
    border-radius:18px;
    padding:18px;
    margin-bottom:16px;
    display:flex;
    align-items:center;
    text-decoration:none;
    color:white;
}

.body-icon{
    width:60px;
    height:60px;
    border-radius:50%;
    background:#45C26B;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:28px;
}

.body-info{
    margin-left:16px;
}

.body-info h3{
    margin-bottom:4px;
}

.body-info p{
    color:#A0A7B5;
}

.body-card span{
    margin-left:auto;
    font-size:28px;
    color:#A0A7B5;
}